<!DOCTYPE html>
<html ng-app="youngs_ranking">
<head>
	<meta charset = "utf-8"/>
	<title>youngs ranking</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
	
	<script src="./app_root.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>


</head>
<body ng-controller="controller_01" ng-init="init()">
	<div class="container">
		<nav class="navbar-default">
			<div class="navbar-header">
      			<a class="navbar-brand" href="http://cafe.naver.com/placepingpong"><img src="./images/icon/youngs_logo.png" width="27px"></a>

      			youngs
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>

		        </button>

    		</div>
		</nav>


		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				순위
				<table class="table table-striped">
					<tr>
						<th>순위</th>
						<th>전월 순위</th>
						<th>등급</th>
						<th>이름</th>
						<th>승</th>
						<th>무</th>
						<th>패</th>
						<th>승점</th>
					</tr>
					<tbody>
						<tr ng-repeat="game in gameList">
							<td>{{game.date}}</td>
							<td>{{game.player_1}}</td>
							<td>{{game.player_2}}</td>
							<td>{{game.win}}</td>
							<td>{{game.win}}</td>
							<td>{{game.win}}</td>
							<td>{{game.win}}</td>
							<td>{{game.win}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				경기 결과 list
			</div>
		</div>
	</div>
	
	

</body>
</html>